
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Be Vietnam Pro", sans-serif;
}
.scroll::-webkit-scrollbar {
    display: none;
}
.boxs .box-item {
    display: none;
    animation: ease fadeIn 0.5s;
}

.boxs .active {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(0.8%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.cards .card-item {
    display: none;
    animation: ease fadeIn 0.5s;
}

.cards .active {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(0.8%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* btn button */
.btn {
    background-color: #e2e2e2;
    border: none;
    outline: none;
    text-shadow: -1px -1px 0 #4f4d57, 1px -1px 0 #4f4d57, -1px 1px 0 #4f4d57, 1px 1px 0 #4f4d57, 5px 5px 10px rgba(1, 1, 1, 1);
    color: #f2f2f2
}
.btnn {
    background-color: #e2e2e2;
    border: none;
    outline: none;
    text-shadow: -1px -1px 0 #4f4d57, 1px -1px 0 #4f4d57, -1px 1px 0 #4f4d57, 1px 1px 0 #4f4d57, 5px 5px 10px rgba(1, 1, 1, 1);
    color: #f2f2f2
}

.actived,
.btn:hover {
    background-image: url(./images/bgactive.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: yellow;
}

.activedes,
.btnn:hover {
    background-image: url(./images/bgactive.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: yellow;
}


/* slider */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}

.swiper-slide span {
    text-align: start;
    width: 300px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: white !important;
    display: block;
}
